#main{
    width: 90%;
    margin: auto;
}

.common{
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
    color: white ;
    font-size: 1.6vw ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 25px   ;
}

.carousel-indicators [data-bs-target] {
    background-color: rgb(109, 109, 109);
    margin-left: 5px; 
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.carousel-indicators{
    height: 5vh;
    background-color: white;
    margin: 0px 20px 0px 85%;
}

.component4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-link{
    margin: 0px 20px 0px 65%;
}

.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bd-violet-bg);
    --bs-popover-header-bg: var(--bd-violet-bg);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }

  .comment{
    background-color: grey;
    color: white;
    margin-left: 0.5vw;
  }

  .personcomment{
    max-width: 540px;
    background-color: transparent; 
    border: none;
}